fastapi~=0.116.1
uvicorn
sqlalchemy~=2.0.42
pydantic~=2.11.7
python-dotenv~=1.1.1
mysql-connector-python
apscheduler
email-validator
aiosmtplib~=4.0.1
fastapi-utils~=0.8.0
typing-inspect

starlette~=0.47.2